{% extends 'base.html' %}
{% block titulo %} DragonEnv {% endblock %}
{% block contenido %}
{% from 'macros/menu.html' import menu with context %}
{{menu(context.menu)}}
{% include 'others/carousel.html' %}

<div class="container contenedor">
<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4" id="soft">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay" >
        <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3" >

      <!-- Excerpt -->
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> DragonEnv.com</h6>
      </a>

      <h4 class="h4 mb-4">Desarrollo Web  Profesional</h4>

      <p class="font-weight-normal">Contamos con un excelento metodo de diseño y de desarrollo de aplicaciones web ideales para su negocio que se adapta a todas las necesidades; Ya sea un Comercio Electronico, Una App movil, una pagina de informacion y contacto y más.</p>
      <p class="font-weight-normal">Obtenga un <a><strong>Descuento </strong></a> Consultando.</p>

      <a class="btn btn-success" href="https://api.whatsapp.com/send/?phone=51918466972&text=Hola,%20Busco%20una%20consulta%20personalizada%20para%20crear%20una%20web.&app_absent=0">Contactar</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->

<div class="multicont">
{% include 'others/items.html' %}

</div>

</div>

{% endblock %}