
      <div class="container my-4">
    
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
  

  
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
  
          <!--First slide-->
          <div class="carousel-item active">
  
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="static/img/corp.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Sitios Empresariales y Corporativos</h4>
                    <p class="card-text">Excelente desarrollo en Aplicaciones web Empresariales.</p>
                    <a class="btn btn-success"  href="https://api.whatsapp.com/send/?phone=51918466972&text=Hola,%20Busco%20una%20consulta%20personalizada%20para%20crear%20una%20web.&app_absent=0">Contactar</a>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="static/img/travel.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Sitios para Agencias de Viajes</h4>
                    <p class="card-text">Mantengase en contacto con sus clientes y llegue a un amplio publico de todo el mundo.</p>
                    <a class="btn btn-success"  href="https://api.whatsapp.com/send/?phone=51918466972&text=Hola,%20Busco%20una%20consulta%20personalizada%20para%20crear%20una%20web.&app_absent=0">Contactar</a>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="static/img/admin.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Sitios Administrativos</h4>
                    <p class="card-text">Ideales para control de usuarios y manejo de datos con actualizaciones en tiempo real. <br><br></p>
                    <a class="btn btn-success"  href="https://api.whatsapp.com/send/?phone=51918466972&text=Hola,%20Busco%20una%20consulta%20personalizada%20para%20crear%20una%20web.&app_absent=0">Contactar</a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <!--/.First slide-->
  



          <!--Second slide-->
          <div class="carousel-item">
  
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="static/img/portfolio.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Portafolio Personal</h4>
                    <p class="card-text">Ideal para dar a conocer sus trabajos, contando con un excelente diseño apto para llegar a un publico mundial.</p>
                    <a class="btn btn-success"  href="https://api.whatsapp.com/send/?phone=51918466972&text=Hola,%20Busco%20una%20consulta%20personalizada%20para%20crear%20una%20web.&app_absent=0">Consultar</a>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="static/img/code.png"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Alto Rendimiento</h4>
                    <p class="card-text">Cada sitio y aplicacion web se desarrolla con los mas altos estadares del mercado para garantizar la fluidez y productividad.</p>
                    <a class="btn btn-success"  href="https://api.whatsapp.com/send/?phone=51918466972&text=Hola,%20Busco%20una%20consulta%20personalizada%20para%20crear%20una%20web.&app_absent=0">Consultar</a>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="static/img/code1.png"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Aplicaciones Administrables</h4>
                    <p class="card-text">Administra tu sitio desde un panel interactivo e intuitivo para mayor confort, sin preocuparte de los procesos secundarios.</p>
                    <a class="btn btn-success"  href="https://api.whatsapp.com/send/?phone=51918466972&text=Hola,%20Busco%20una%20consulta%20personalizada%20para%20crear%20una%20web.&app_absent=0">Contactar</a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <!--/.Second slide-->
 
  
        </div>
        <!--/.Slides-->
  
      </div>
      <!--/.Carousel Wrapper-->
    </div>